
/* PC */
@media (min-width:1024px) {
    #header .mobile-menu-btn{
        display: none !important;
    }
}

/* Tablet */
@media (min-width:740px) and (max-width:1024px) {
    #header .mobile-menu-btn{
        display: none !important;
    }
}

/* Mobile */
@media (max-width:740px) {
    #header{
        overflow: hidden !important;
    }

    #header .search-button{
        display: none !important;
    }

    #nav{
        display: block !important;
    }

    #nav > li{
        display: block !important;
    }

    #nav > li:first-child{
        display: inline-block !important;
    }
}